{% extends 'base.html' %}

{% block head %}
<title>Easy Genre Predictor</title>
{% endblock %}

{% block body %}
<div class="content">

    <h1 style="text-align: center">Job Details</h1>
    <table>
          <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Added</th>
              <th>True Label</th>
              <th>Model Used</th>
              <th>Prediction</th>
          </tr>
              <tr>
                  <td>{{ detail.id}}</td>
                  <td>{{ detail.name}}</td>
                  <td>{{ detail.date_created.date() }}</td>
                  <!-- todo: update to date and time in string -->
                  <td>{{ detail.true_label}}</td>
                  <td>{{ detail.model_used}}</td>
                  <td>{{ detail.top1}}</td>
              </tr>
      </table>
      
    <h3 style="text-align: center"> Audio </h3>
    
    <div class="audio-container">
      <audio src={{ url_for("static", filename = path) }} controls  >
        </audio>
      </div>
        <div class="form">
            <form action="/job/label/{{detail.id}}" method="POST">
                <input type="text" name="label" id="label">
                <input type="submit" value="Add True Label">
            </form>
        </div>
    
    <h3 style="text-align: center"> Features </h3>
    <div class="img-container">
    {% for feature in features[:2] %}
        <img src={{ url_for("static", filename = feature) }} alt="Feature">
    {% endfor %}
    </div>
    <div class="img-container">
    {% for feature in features[2:] %}
        <img src={{ url_for("static", filename = feature) }} alt="Feature">
    {% endfor %}
    </div>
        <h4 style="text-align: center">
          <a href="/">Go Home</a></h4>

{% endblock %}
